version: "3.7"

x-common: &common
  stop_grace_period: 5s
  logging:
    options:
      max-size: "250k"
      max-file: "10"
  labels:
    - "nuvlaedge.component=True"
    - "nuvlaedge.deployment=production"
    - "nuvlaedge.peripheral.component=True"
    - "nuvlaedge.peripheral.type=network"

services:
  peripheral-manager-network:
    <<: *common
    image: nuvladev/nuvlaedge:main
    entrypoint: network
    restart: on-failure
    container_name: ${COMPOSE_PROJECT_NAME:-nuvlaedge}-peripheral-network
    network_mode: host
    volumes:
      - nuvlabox-db:/srv/nuvlaedge/shared
    depends_on:
      - agent
