apiVersion: batch/v1
kind: Job
metadata:
  name: kubernetes-credentials-manager
  namespace: {{ include "nuvlaedge.namespace" . }}
  labels:
    {{- include "nuvlaedge.labels" . | nindent 4 }}
spec:
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: {{ .Values.serviceAccount.name }}
      nodeSelector:
        kubernetes.io/hostname: {{ .Values.kubernetesNode }}
      containers:
        - name: kubernetes-credentials-manager
          image: "{{ .Values.nuvlaedge.kubernetesCredentialsManager.registry }}{{ .Values.nuvlaedge.kubernetesCredentialsManager.organization }}/{{ .Values.nuvlaedge.kubernetesCredentialsManager.repository }}:{{ .Values.nuvlaedge.kubernetesCredentialsManager.tag }}"
          imagePullPolicy: {{ .Values.nuvlaedge.pullPolicy }}
          volumeMounts:
            - mountPath: /srv/nuvlaedge/shared
              name: nuvlaedge-db
          env:
            - name: WAIT_APPROVED_SEC
              value: "{{ .Values.credManager.wait_approved_sec }}"
            - name: CSR_NAME
              value: {{ .Values.credManager.csr_name }}
      volumes:
        - name: nuvlaedge-db
          hostPath:
            path: {{ .Values.nuvlaedgeVolumeHostPath }}/{{ include "nuvlaedge.namespace" . }}
