{{- if .Values.security }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-deployment
  namespace: {{ include "nuvlaedge.namespace" . }}
  labels:
    {{- include "nuvlaedge.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      component: security
  template:
    metadata:
      labels:
        component: security
        {{- include "nuvlaedge.labels" . | nindent 8 }}
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      serviceAccountName: {{ .Values.serviceAccount.name }}
      nodeSelector:
        kubernetes.io/hostname: {{ .Values.kubernetesNode }}
      containers:
        - name: security
          image: "{{ .Values.nuvlaedge.image.registry }}{{ .Values.nuvlaedge.image.organization }}/{{ .Values.nuvlaedge.image.repository }}:{{ .Values.nuvlaedge.image.tag | default .Chart.AppVersion }}"
          command: ["security-entrypoint.sh"]
          imagePullPolicy: {{ .Values.nuvlaedge.pullPolicy }}
          env:
            - name: EXTERNAL_CVE_VULNERABILITY_DB
              value: {{ .Values.EXTERNAL_CVE_VULNERABILITY_DB | default (printf "https://github.com/nuvla/vuln-db/blob/main/databases/all.aggregated.csv.gz?raw=true" | quote) }}
            - name: EXTERNAL_CVE_VULNERABILITY_DB_UPDATE_INTERVAL
              value: {{ .Values.EXTERNAL_CVE_VULNERABILITY_DB_UPDATE_INTERVAL | default 86400 | quote }}
            - name: SECURITY_SCAN_INTERVAL
              value: {{ .Values.SECURITY_SCAN_INTERVAL | default 1800 | quote }}
            - name: MY_NAMESPACE
              value: {{ include "nuvlaedge.namespace" . }}
          volumeMounts:
            - mountPath: /srv/nuvlaedge/shared
              name: nuvlaedge-db

      volumes:
        - name: nuvlaedge-db
          hostPath:
            path: {{ .Values.nuvlaedgeVolumeHostPath }}/{{ include "nuvlaedge.namespace" . }}
{{- end }}
