# Automatic release of NuvlaEdge Engine, for every new tag
name: "tagged-release"

on:
  push:
    tags:
      - "*.*.*"

jobs:
  tagged-release:
    name: "Tagged NuvlaEdge Engine Release"
    runs-on: "ubuntu-latest"

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Helm
        uses: Azure/setup-helm@v3

      - name: Create helm package
        run: helm package helm/nuvlaedge

      - uses: "marvinpinto/action-automatic-releases@latest"
        name: Release docker and k8s packages
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          files: |
            install.sh
            *.yml
            nuvlaedge-${{github.ref_name}}.tgz

      - name: Index helm release
        run: |
          git config --global user.email "nuvlaedge@sixsq.com"
          git config --global user.name "SixSq NuvlaEdge"
          git fetch
          git switch gh-pages
          helm repo index --url https://github.com/konstan/nuvlaedge-deployment/releases/download/${{github.ref_name}} --merge index.yaml .
          # helm repo index --url https://github.com/nuvlaedge/deployment/releases/download/${{github.ref_name}} --merge index.yaml .
          git add index.yaml
          git commit -m "new release ${{github.ref_name}}"
          git push
          git switch main

  notify:
    if: always()
    name: Post Workflow Status To Slack
    needs:
      - tagged-release
    runs-on: ubuntu-latest
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          # Required Input
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          # Optional Input
          icon_emoji: ':rocket:'
